* {
    margin: 0;
    padding: 0;
}

/* General Tags */
a {
    text-decoration: none;
}

h1, h2, a {
    font-family: "Roboto Slab";
    font-weight: 400;
}

p {
    font-family: "Roboto";
    font-weight: 400;
}

body {
    position: relative;
}



/* Navbar */
#navbar {
    position: fixed;
    background-color: #041240;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}
.nav-link {
    color: #dae8e8;
    font-size: 1.5rem;
    margin: 0 25px;
    padding: 10px 50px;
}
.nav-link:hover {
    color: white;
    background-color: #3852b2;
}


/* Main Doc */
#main-doc {
    position: absolute;
    top: 50px;
    background-color: #dae8e8;
}
/* Welcome Section */
#header {
    background: linear-gradient(#041240, #3852b2);
    color: #dae8e8;
    text-align: center;
}
#welcome-title {
    font-size: 3rem;
    width: 30%;
    margin: 0 auto;
    padding-top: 75px;
}
#welcome-pic {
    border-radius: 50%;
    margin: 75px auto 100px;
}

/* Middle Section */
#middle-section {
    width: 80%;
    margin: 100px auto;
    text-align: center;
}
#about-me, #techs-and-skills {
    width: 70%;
    margin: 0 auto 200px;
}
.mid-section-title {
    margin-bottom: 30px;
    font-size: 2rem;
}
#tech-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#tech-icon {
    font-size: 5rem;
    margin: 20px 50px;
    text-shadow: 5px 5px 2px rgb(156, 156, 156);
}

/* Portfolio */
#project-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project-img {
    object-fit: contain;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}
.project-tile {
    background-color: #041240;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.project-title {
    padding: 10px;
    font-size: 1.5rem;
}
#portfolio a {
    color: #dae8e8;
}
#portfolio a:hover {
    background-color: #3852b2;
    position: relative;
    top: -10px;
    left: -10px;
    box-shadow: 10px 10px 3px rgb(117, 117, 117);

}
/* Footer */
#footer {
    background-color: #3852b2;
    color: #dae8e8;
    text-align: center;
    padding: 75px;
}
#link-icons a {
    color: #dae8e8;
    font-size: 2rem;
    margin: 0 50px;
    padding: 30px 0;
}
#footer-text {
    padding: 50px;
}





